.catheading{
    margin-top: 6rem;
    text-align: center;
}
.categoryCard {
    
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  .categoryCardContainer{
    margin-top: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
    color: rgb(24, 22, 22);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .content .heading {
    font-weight: 700;
    font-size: 32px;
  }
  
  .content .para {
    line-height: 1.5;
  }
  
  .content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #ECDE3C 0%, #201D0D 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .categoryCard::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #ECDE3C 0%, #201D0D 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .categoryCard:hover::before {
    height: 100%;
  }
  
  .categoryCard:hover {
    box-shadow: none;
  }
  
  .categoryCard:hover .btn {
    color: #212121;
    background: #e8e8e8;
  }
  
  .content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }
  .content:hover{
    color: #e8e8e8;
  }
  .content .btn:active {
    box-shadow: none;
  }
  .para img{
    max-width: 100%;
  }
  .facilities .hidden-text{
    justify-content: center;
    transition: opacity 0.9s ease;
    opacity: 0;
  }
  .categoryCard:hover .hidden-text {
   
    opacity: 1;
  }
  @media(max-width: 768px){
.categoryCardContainer{
    flex-direction: column;
    align-items: center;
 
}
.categoryCard{
    width: 90%;
}
.catheading{
    margin-top: 2rem;
}

  }